/* CSS Document */
#popup_box {
    display:none; /* Hide the DIV */
    position:absolute;  
    _position:absolute; /* hack for internet explorer 6 */  
    background:#FFFFFF;  
    right: 40px;
    top: 60px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
   
    /* additional features, can be omitted */
    border:2px solid #333;      
    /*padding:15px;  */
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
   
}
#popup_box #popup_heading {
	background-color: #c4c4c4;
}
#popup_box #popup_heading h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	padding: 8px 10px 8px 5px;
	color: #fff;
	font-size: 1.1em;
}

#container {
    background: #fff; /*Sample*/
    width:100%;
    height:100%;
}

#popup_box #popup_heading a{ 
cursor: pointer; 
text-decoration:none; 
font-size: 12px;
color: #6666FF;
}
#popup_box #popup_box_content {
	padding: 20px 15px 25px 15px;
	color: #000;
  height:300px;  
  width:600px;  
	overflow: auto;
}

#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;      
}
		